*,
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.header {
  background-color: cyan;
  color: hsl(60, 100%, 50%);
}
.header nav {
  display: flex
}
.header,
.heading {
  flex: 4;
}
.header,
.start {
  flex: 4;
}
.header,
.end {
  flex: 1;
  justify-items: flex-end;
}